<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Registro</title>
    <link rel="stylesheet" href="../../static/css/perfil.css">
    <script src="../../static/js/perfil.js" defer></script>
</head>
<body>
    <header>
        <img src="../../static/img/logo.png" alt="logo" height="70px">
        <h1>MENU CLIENTE</h1>
        <img src="../../static/img/icon.png" alt="user-icon" height="50px">
    </header>
    <div class="container">
        <div class="left">
            <button>
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Solicitar Servicio</span>
            </button>
            <button>
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Buscar Servicio</span>
            </button>
            <button>
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Editar Servicio</span>
            </button>
            <button>
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Cancelar Servicio</span>
            </button>   
        </div>
        <div class="right">
            <h2>Por favor <br>Selecciona una opcion</h2>
        </div>
    </div>

</body>
</html>