<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <!-- Título del formulario -->
            <h1>Iniciar Sesión</h1>
            <form id="loginForm">
                <label for="username">Usuario:</label>
                <input type="text" id="username" placeholder="Ingresa tu usuario" required>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" placeholder="Ingresa tu contraseña" required>

                <!-- Botón de enviar -->
                <button class="ingreso" type="submit">Entrar</button>
                <a href="views/registro.html" class="crear">Registrarme</a>

                <!-- Mensaje de error -->
                <p class="error-message" id="errorMessage">Credenciales incorrectas</p>
            </form>
        </div>
    </div>

    <script>
document.getElementById('loginForm').addEventListener('submit', function(e) {
    e.preventDefault();

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    const loginData = {
        username: username,
        password: password
    };

    // Enviar la solicitud POST
    fetch('http://localhost:8080/api/v1/auth/authenticate', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(loginData)
    })
    .then(response => {
        if (!response.ok) {
            if (response.status === 401) {
                throw new Error('Credenciales incorrectas. Verifique su usuario y contraseña.');
            } else if (response.status === 500) {
                throw new Error('Error en el servidor. Inténtelo más tarde.');
            } else {
                throw new Error('Error desconocido. Inténtelo más tarde.');
            }
        }
        return response.json();
    })
    .then(data => {
        const token = data.jwt;  // Cambiado a "jwt"

        // Guardar el token en el localStorage
        if (token) {
            localStorage.setItem('token', token);

            // CAMBIAR
            window.location.href = './views/jefesistemas.html'; // Cambia a la página que desees
        } else {
            throw new Error('No se recibió el token de autenticación.');
        }
    })
    .catch(error => {
        const errorMessage = document.getElementById('errorMessage');
        errorMessage.style.display = 'block';
        errorMessage.textContent = error.message;
    });
});
    </script>
</body>
</html>
